body {
  background-color: #cfd8dc;
  color: #263238;
}

ul {
  /* list-style-type: none; */
}

.clock {
}

form {
  text-align: center;
  margin-top: 13px;
}

input {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 55px;
  margin: 0;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.list-container {
  width: 40%;
  margin: 0 auto;
}
